<div class="jumbotron">
  <h1><img src= "https://github.com/timseo/regrets/blob/master/image/regrets-logo-black.png?raw=true" alt= "regrets" class= "img_responsive" ></h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a href= "/" class="btn btn-primary btn-lg" >Sign up</a></p>
</div>
